{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <style >


        div.container-fluid{position:relative;}
        div.container-fluid img.background{position:absolute;top:0;left:0;z-index:1}
        div.container-fluid div.jumbotron{position:relative;z-index:5;color:white;}

    </style>
</head>

<body>
  <div class="container-fluid">


  <img class="background" src="{% static imgPath %}" alt="" width="100%" height="auto">

<div class="jumbotron jumbotron-fluid">

    <section class="section" >
        <div class="container">
            <div class="columns">
              <div class="column is-offset-4 is-4">
                <div class="box">


                  <h1 class="title">
                      What's the weather like?
                  </h1>
                  {% if input_error == True %}
                  <h1 style="color:red;"> {{ error_statement }} </h1>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                      {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type= "submit" class="button is-info">
                                    Change City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">

                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temp }}° F</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </section>

    </div>
</div>
</body>

</html>
