*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
}

.container{
    position: relative;
    width: 400px;
    height: 105px;
    /* background: #fff; */
    background: linear-gradient(#f9855d,#fdd288,white);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.wave-01{
    display: none;
}
.wave-02{
    display: none;
}
.wave-03{
    display: none;
}

.wave-01.active {
    display: flex;
    position: absolute;
    width: 300%;
    height: 300%;
    left: -100%;
    top: 75%;
    background-color: rgba(0,190,255,0.4);
    border-radius: 45%;
    animation: rotate 10s linear infinite;
    z-index: 0;
  }
  
  .wave-02.active {
    display: flex;
    position: absolute;
    width: 300%;
    height: 300%;
    left: -100%;
    top: 80%;
    background-color: rgba(0,70,110,0.4);
    border-radius: 43%;
    animation: rotate 7s linear infinite;
    z-index: 0;
  }
  
  .wave-03.active {
    display: flex;
    position: absolute;
    width: 300%;
    height: 300%;
    left: -100%;
    top: 78%;
    background-color: rgba(0,90,110,0.4);
    border-radius: 40%;
    animation: rotate 5s linear infinite;
    z-index: 0;
  }
  
  @keyframes rotate {
    100% { transform: rotate(360deg);}
  }
   
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
}

.search-box input{
    color: black;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    background: transparent;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: white;
    background: black;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: black;
    background: #fff;
}

.search-box i{
    position: absolute;
    color: black;
    font-size: 28px;
}

.weather-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 99;
}

.weather-box div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    border-radius: 18px;
}

.weather-box img{
    width: 15%;
    margin-top: 10px;
}

.weather-box .temperature{
    position: relative;
    color: black;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    margin-top: 10px;
    color: #222;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    z-index: 99;
}

.weather-details .humidity, .weather-details .wind{
    display: flex; 
    align-items: center;
    width: 50%;
    height: 100px;
}

.faded-box{
    background-color: rgba(255,255,255,0.5);
    border-radius: 18px;
}

.weather-details .humidity{
    padding-left: 10px;
    justify-content: flex-start;
    margin-right: 10px;
}

.weather-details .wind{
    padding-right: 10px;
    justify-content: flex-end;
    margin-left: 10px;
}

.weather-details i{
    color: #222;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    padding-top: 0px;
    display: none;
    background-color: transparent;
    background-image: none;
    position: relative;
    z-index: 99;
}

.not-found svg{
    margin-top: 80px;
    width: 300px;
}

.not-found p{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

/* .weather-box, .weather-details{
    scale: 0;
    opacity: 0;
} */

.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}
